<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <div>{{>navbar}}</div>

    {{!-- hero section start --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto mb-5">
                <div class="row">
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        {{!-- left side --}}
                        <h1>We are helping you to</h1>
                        <h1>Grow your business</h1>
                        <p>We are the team of <span class="bold-style">professional website developer </span></p>
                        <button class="btn-style">Know more</button>
                    </div>
                    <div class="col-md-6 col-12 hero-text order-md-0 order-0">
                        {{!-- left side --}}
                        <figure>
                            <img src="images/imi1.jpg" width="100%" alt="hero image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- hero section end --}}

    {{>about}}
    {{>service}}
    {{>maps}}
    {{>contact}}


    <div>{{>footer}}</div>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>